.Footer{
    margin-top: 5%;
height: 130%;
width: 100%;

overflow: hidden;
position: sticky; /* allow to put footer stick to bottom*/
}


.NavBar{

    background-color: transparent;
    
   
    

    }

    