html,#root{
  height: 100%; 
  scroll-behavior: smooth;
}
body {
  
  margin: 0; /* remove margin/ html,body  100% in order to use height 100% correctly */
  height: 100%;
 background-color: black;
  
}

h1,h2,h3,h4,h5, .NavBar, #basic-navbar-nav .mr-auto a{
  
  color: #ffffff;
  font-family: 'Montserrat';
}


#basic-navbar-nav .mr-auto a{

  font-weight: 600;
  transition: 1s;
}

.option{

background: #000000;


}
.option,.links{
margin-left: 10%;

}

.mr-auto{
  margin-left: 50%;  /*150 before */
  
}
#basic-navbar-nav .mr-auto a:hover{
  transform: scale(1.5);
  background-color: rgb(59, 59, 59);
}
#basic-navbar-nav .mr-auto a:visited{

  background-image: linear-gradient(to bottom, black,gray);
}
#homeLogo{
  transition: 1s;
  margin-left: 5%
}
#homeLogo:hover{transform: scale(1.5);

}
#toggle{

background-color: white;
width: auto;
}
p{

  color: #bbbbbb;
  font-family: 'Mulish';
  font-size: 15px;
}
hr{
  background-color:#404040;
}

#MainDiv{

display: inline-block;
}
#divOne h1{

font-weight: bold;
font-size: 100px;



}


#divOne span{

  background-color: black;
  
}
 #divOne{
  margin-top: 10%;
   margin-left: 35%;
  position: absolute;
 }
 

#imageMainMenu {

  float: right; /* put div abolutely in right pos*/
  width: 150%;
  height: 150%;
  
  
  /*
max-width: 100%;
    max-height: 100%;  image can fit div like this*/
}




#BioPhoto{

  width: 35%;
  height: 50%;
  border-radius: 1%;
  margin-left: 10%;
 transition: 1s;
  
}
#BioPhoto:hover{


  transform: translate(0,10px);
}

#bioTextParagraph{

box-sizing: border-box;  /* this allow you to align sections side by side*/
width: 50%;
float: right;
margin-top: 10%;
}

.BioText {
margin-top: 10%;
margin-left: 50%; 
  
 
}

#BioTextPhoto{
width: 30%;
height:30%;


}


button, #SubmitMessage,#Download{

  border-radius:360px; /* make button corners rounded */
  height: 53px;
  width: 40%;
  transition: 0.5s;
}
#SubmitMessage:hover,button:hover, #Download:hover{

color: #ffffff; 
background-color: transparent; 
border-radius: 0%;

}

#Download {

  margin-top: 5%;
margin-left: 50%;


}

#CareerGoalDiv{

margin-top: 10%;
 height: 55%;
  width: 100%;
  background-color: #EAE7E0; 
  
  
}

#CareerGoalDiv p {

  width: 30%;
  margin-left: 35%;
  color: #000000;
}
#CareerGoalPhoto{

  width: auto;
  height:30%;
  margin-left: 37%;
  margin-top: 3%;
}

.CarouseImages{

  width: 100%;
  min-height:100%
  
}

.CarouseImages1{
  width: auto;
 height:700px;
 
 

}

.buttonMobileApp:hover{

background-color: black; 
}

.MobileApp{

margin-left: 50%;
margin-bottom: 20%;
background-color: black;
}

#LastCarousel{

  margin-bottom: 35%;
  background-color: rgba(0, 0, 0, 0.7);
  
 margin-left: 20%;
  height: 80%;
  width: 60%;
  

}
#Carousel{

  margin-top: 5%;
}

#Skills{
margin-top: 5%;
width: 100%;
height: 70%;
background-color: #000000;
overflow-y:scroll;

}

#Skills:hover::-webkit-scrollbar{
  display: block;
}

#Skills::-webkit-scrollbar {
  
  height: 10px;
 
}

#Skills::-webkit-scrollbar-track {
  
  border-radius: 10px;
 
  background-color: darkgrey;
  
}

#Skills::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color:gray
  
}


#SkillCarousel{
  
  margin-top: 5%;
    width: 75%;
    height: 100%;
    background-color: #EAE7E0;
    box-shadow: 0 -6px 18px rgba(0, 0, 0, 0.35);
    margin-left: auto;
    margin-right: auto;
}

/* carousel item */
 .card:first-child{
 margin-left: -5% ;
}
.card{
    
    margin-top: 3%;
   background-color:transparent;
   border-style:none;
    height: 25%;
    width: 11%;
    float: left;
    /*   margin-left: -50px; */
      transition: 0.4s ease-out;
      position: relative;
      left: 50px;

}
.card:not(:first-child) {
    margin-left: -15px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

  .card img{

    width: auto;
    height: auto; 
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 20px;
    
    box-shadow: -1rem 0 3rem #000;
  }

 
  @media(max-width:1100px){

    #Skills{
      width:85%}
    
    .card{
     
     
      width: 25%;
    
      margin-left: -2px;
  
  }


  }

  @media(max-width:500px) and (min-height:500px ){

#Skills{width:100%;
   height:110%;
   overflow-y: hidden;
   overflow-x: scroll;
       }
      
      
  #SkillCarousel{
    width: 100%;
    height: 107%;
    
   
  }
    .card{
     
      height: 12%;
      width: 30%;
    
        
  
  }

  
  }





  #SkillsPhoto{
    width: auto;
    height:30%;
    margin-left: 50%;
  }

.skillsLogo{

  height: 30%;
  width: 40%;
  margin: 3%;
}

#DiplomaCertif {
 width: 100%;
 height: 100%;

}

#DiplomaCertif div{
width: 50%;
float: left;
box-sizing: 50%;
margin-bottom: 10%;
}

#DiplomaCertif div button{

  margin-left: 25%;
  margin-top: 40%;
  height: 400px;
  width: 50%;
  border-radius: 0%;
  background-color: #EAE7E0;
  transition: 1s;
}

#DiplomaCertif div button img{

 max-width: 100%;
 max-height: 100%;
}



#DiplomaCertif div button:hover{

border-radius: 30%;  
width: 60%;

}







#torontoCity{
 
 height:40%; 
 width: 100%;
 margin-top: 15%;
 opacity: 0.5;
 overflow: hidden;
 
}

#experience img{

  
  margin-left: 50%;
  margin-top: 5%;
}


#experience p{

 
  margin-top: 3%;
  margin-left: 35%;
}

#ContactMeImage,#experience img{
  width: 20%;

}

#ContactMeImage {

  margin-left: 10%;
}

.logoFooter{

  width: 3%;
  height: 3%;
  margin-left: 5%;
}
.logoFooter, form input, #copyright, #Message{
margin-left: 5%;}

.inputClass{

width: 40%;
  height: 53px;
 color: white;
 background-color: transparent;
 border-style: solid white;
}
#SubmitMessage{
  width: 15%; 
 
}
form input, #Message{
    
  margin-top: 3%;
}
form{

  margin-bottom: 5%;
}

#Message{

height: 150px;

}

#copyright{
margin-top: 3%;

}

#logoSocialMedia{
margin-left: 50%;

}

.logoCopyright1, .logoCopyright2{
  margin-left: 5%;
  width: 5%;
  height: 15%;
  border-radius: 360px;
  transition: 1s;
}

.logoCopyright1:hover, .logoCopyright2:hover{

  transform: rotate(360deg);
}

.logoCopyright2{
  width: auto;
  height: 35px;
}







/* medium laptop*/
@media (max-width: 1200px){
  .CarouseImages1{
    width: 55%;
   height:auto;
   
   
  
  }

  #CareerGoalDiv{

 
     height: 60%;
    
      
      
    }

    #torontoCity{
 
      background-position: top ;
     }
     .mr-auto{
      margin-left: 28%;
      
    } 

    #CareerGoalPhoto , #experience img,#ContactMeImage{

      width: 40%;
      height:auto;
      margin-left: 50%;
      margin-top: 3%;
    }
    #SkillsPhoto{

      width: 40%;
      height:auto;
      margin-left: 30%;
      
    }
    #ContactMeImage{

      
      margin-left: 4%;
      
    }

  
    .MobileApp{

   margin-right: 0%;
   width: 50%;

       }
}





@media (max-width: 1024px){

  
  #CareerGoalPhoto , #experience img,#ContactMeImage{

    width: 50%;
    height:auto;
    margin-left: 20%;
    margin-top: 3%;
  }

  #CareerGoalDiv{
    width: 100%;
    height: 35%;
  } 
  #CareerGoalDiv p{

    width: 80%;
    margin-left: 3%;
    margin-top: 5%;
  }




  #basic-navbar-nav .mr-auto a:hover{
    transform: scale(1.2);
    
  }
  .mr-auto{
    width: 30%;
    
  } 
 
    
  #SkillsPhoto{

    width: 77%;
    height:auto;
    margin-left: 0%;
    
  }
  
     #divOne h1{

      
      font-size: 100px;
    
      }
     
    
    #imageMainMenu {
    
     
      width: 60%;
      height: 70%;
      
      
     
    }

    



#Skills p{

width: 100%;
height:auto;
text-align: center;
margin-left: 0%;
}

.skillsLogo{

height: 30%;
width: 40%;

}


    
.CarouseImages{

 
  height: 100%;
  width: 100%;
 

}
.MobileApp{

 background-color: black;
 
 margin-bottom: 0%;
  }

  #DiplomaCertif{

    height: 40%;
   }
   #DiplomaCertif div button{
    
     
    height: 270px;
    width: 50%;
   
   
  }

  .Dialogs img{
    
    width : 100%;
  height: 60%;
  
  
  }



  

}



/* tablets ***************************************************************************************************************************/
@media (max-width: 768px){


.container{
height: 40%;
width: 100%;


}

#bioTextParagraph{

  
  width: 50%;
  float: right;
  }

  #BioPhoto{

    width: 45%;
    height: auto;
    
    margin-left: 0%;
  
    
  }

  #CareerGoalPhoto , #experience img,#ContactMeImage{

    width: 60%;
    height:auto;
    margin-left: 20%;
    margin-top: 3%;
  }

  #CareerGoalDiv{
    width: 100%;
    height: 40%;
  } 
  #CareerGoalDiv p{

    width: 80%;
    margin-left: 3%;
    margin-top: 5%;
  }

  .CarouseImages1{

 
    height: auto;
    
   margin-bottom: 0%;
  
  }

 

  

  .logoCopyright1{
    
    width: 10%;
   
  }

  button{

    width: 60%;
  }
  #SubmitMessage{

    width: 20%;
  }
  form{

    width: 130%;
  }

  #torontoCity{
 
    background-position:  top ;
   }

   #BioTextPhoto{

    width: 50%;
   }

   .MobileApp  {

 width: 50%;
 margin-left: 40%;
     }
   
     

     #DiplomaCertif div button{
    
     
      height: 250px;
      width: 60%;
     
     
    }
  
    
    #torontoCity{
     background-attachment: scroll;
      
     }
  
  }


  /* Mobile Phone  ************************************************************************************************************************/
@media (max-width:480px) {
  
#divOne{
margin-top:23%;
  margin-left: 10%;
}

  #imageMainMenu {
    
     
    width: 100%;
    height: 100%;
   
  }

  

  #divOne h1{

    
    font-size: 40px;
    
    
    
    }

    #divOne p{

      width: 40%;
    }

    #bioTextParagraph{

  
      width: 100%;
      
      }
      #BioPhoto{

        width: 70%;
        height: auto;
        
        margin-left: 0%;
      margin-top: 5%;
        
      }

     .container{
      width: 100%;
      height: 80% ;
     
     }

     #CareerGoalPhoto , #experience img,#ContactMeImage{

      width: 70%;
      height:auto;
      margin-left: 20%;
      margin-top: 3%;
    }
  
    #CareerGoalDiv{
      width: 100%;
      height: 60%;
    } 
    #CareerGoalDiv p{

      width: 90%;
      margin-left: 3%;
      margin-top: 5%;
    }

    #Carousel{
      height: 70%;

    }

    .CarouseImages{

 
      height: auto;
      width: 100%;
     margin-bottom: 0%;
    
    }
   .carousel-item{
   
    margin-top: 120%;
    
    height: 100%;
   }

   
   .carousel-caption{

    margin-top:35%;
    width: 75%;
   }

   .MobileApp, #LastCarousel{

    background-color: black;
    
    margin-left: 0%;
    width: 98%;
   
     }
    


.skillsLogo{

  height: 30%;
  width: 60%;
 
}

#Download {

 
margin-left: 43%;


}

#Skills{
  
  height: 100%;
  
  
  }
  
  #arrow{
    
    margin-right: 3%;
    
  }

  #DiplomaCertif div{
    width: 100%;

  }


   #DiplomaCertif div button{
  
   
    height:   200px;
    width: 70%;
   margin-left : 16%;
   border-radius: 5%;
  }
  


  #experience p{
margin-left: 7%;

  }
  #ContactMeImage{
    margin-left: 2%;
  }

  form{

    width: 170%;
  }

  .logoCopyright1{
    width: 20%;
    
  }
  #logoSocialMedia{ margin-left: 40%;}

.Footer{

  height: 30%;
}

#SubmitMessage,button{

 
  background-color: #ffffff; 
 
  
  }

}

@media (max-width: 320px) {
  .container{
    width: 100%;
    height: 90% ;
   
   }
   #CareerGoalDiv{
    width: 100%;
    height: 70%;
  }
  
  #Skills{

    height: 70%;
  }
}
